/* Common styles */
body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
.hero-section > .top-heading {
	padding: 1px 20px;
	background-color: #11122b;
	color: #cbcbcb;
	width: 290px;
	border-radius: 2px;
}
.hero-section > .bottom-heading {
	background-color: #cea135;
	color: #11122b;
	padding: 1px 20px;
	margin-top: 15px;
	width: 107px;
	border-radius: 2px;
}




